*{
    padding:0;
    margin:0;
}
   
/* Mobile - For 640 Resolution */  
@media only screen   
and (min-device-width : 320px)   
and (max-device-width : 640px)  
{
    body{
        padding: 0;
        margin: 0;
        font-family: 'Roboto',sans-serif;
        background-color: #f6f6f6;
    }
    .logo-name{
        background: #1435C3; 
        color: white;
        width: 90%;
        height: 1.5rem;
        padding: 1rem 5% 0rem 5%;
    }
    .logo-name h3{
        float: left;
    }
    .logo-name img{
        width: 20%;
        justify-content: center;
        margin: auto;
        object-fit: contain;
    }
    .box-search{
        display: flex;
        justify-content: center;
        background: #1435C3;
        padding: 0.5rem 0 1rem 0;
    }
    .box-search-fixed{
        display: flex;
        padding: 1rem 0 1rem 0;
    }
    .box-search-build{
        display: flex;
        justify-content: center;
        /* background: #1435C3; */
        padding: 1rem 0 1rem 0;
    }
    .search{
        background-color: #f6f6f6;
        width: 88%;
        padding: 0.3rem;
        border-radius: 0.5rem;
    }
    .search-build{
        background-color: #f6f6f6;
        width: 100%;
        padding: 0.3rem;
        border-radius: 0.5rem;
    }
    .search-fixed{
        background-color: #f6f6f6;
        width: 65%;
        padding: 0.3rem;
        border-radius: 0.5rem;
    }
    .inputSearch{
        border: none;
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
        font-size: 14px;
        outline: none;
        width: 83%;
        background-color: #f6f6f6;
    }
    .inputSearch-fixed{
        border: none;
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
        font-size: 14px;
        outline: none;
        width: 83%;
        background-color: #f6f6f6;
    }
    .ti-search{
        font-size: 15px;
        padding: 0.5rem;
    }
    .logo-name-vk {
        padding-top: 5rem;
        color: white;
        background: #1435C3;
        text-align: center;
        font-weight: 900;
        font-family: cursive;
    }
    .slideshow-container {
        background-image: linear-gradient(#1435C3, white);
        /* width: 25.9rem; */
        position: relative;
        /* margin-top: 4.2rem; */
        padding-top: 0.5rem;
    }
    .mySlides{
        display: flex;
        justify-content: center;
    }
    .image-banner{
        width: 80%;
        border-radius: 0.5rem;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .categories{
        height: 4rem;
        padding: 5px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
        /* width: 25.9rem; */
    }
    .categories-page{
        display: inline;
    }
    .category-page-item{
        width: 20%;
        float: left;
        justify-content: center;
        height: 6rem;
    }
    .categories-page a{
        text-decoration: none;
        color: rgb(67, 70, 87);
    }
    .category-item{
        float: left;
        padding: 0.4rem;
        justify-content: center;
        height: 5rem;
    }
    .categories a{
        text-decoration: none;
        color: rgb(67, 70, 87);
    }
    .category-item-image{
        width: 80%;
        aspect-ratio: 3/2;
        object-fit: contain;
        mix-blend-mode: color-burn;
    }
    .menu-home{
        padding: 1rem 0 0 0;
        background-color: white;
    }
    .menu-home ul li a h5{
        width: 100%;
        height: 0.9rem;
        display: block;
        display: -webkit-box;
        font-size: 10px;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        color: rgb(67, 70, 87);
        text-align: center;
        margin-bottom: 1.2rem;
    }
    .menu-home ul {
        list-style-type: none;
        text-align: center;
     }
     .menu-home li {
        color: #f1f1f1;
        display: inline-block;
        width: 24%;
     }
    .menu-home img{
        width: 80%;
        aspect-ratio: 3/2;
        object-fit: contain;
    }
    .menu-home ul li a{
        font-size: 13px;
        color: #82869e;
    }
    .category-item-name{
        font-size: 11px;
        text-align: center;
        height: 4rem;
    }
    .icon-back{
        float: left;
        margin-left: 1.4rem;
        color: rgb(105, 100, 100);
        font-weight: 900;
    }
    .icon-back-category{
        padding-top: 0.5rem;
        width: 10%;
        color: rgb(105, 100, 100);
        font-weight: 900;
        text-decoration: none;
        padding-left: 5%;
    }
    .icon-home{
        font-size: 25px;
        width: 10%;
        color: rgb(105, 100, 100);
        font-weight: 900;
        text-decoration: none;
        padding-left: 5%;
        padding-top: 3px;
    }
    .icon-cart{
        float: right;
        color: rgb(105, 100, 100);
        font-weight: 900;
        margin-right: 1.4rem;
    }
    .icon-cart-home{
        float: right;
        color: rgb(255, 255, 255);
        font-weight: 900;
        margin-top: 3px;
    }
    .icon-cart-category{
        color: #757575;
        font-weight: 900;
        text-decoration: none;
        padding-top: 5px;
        padding-left: 5%;
        position: relative;
        font-size: 25px;
    }
    .icon-cart-category span{
        background-color: rgb(20, 53, 195);
        border-radius: 40%;
        font-size: 9px;
        padding: 0.2rem;
        color: white;
        position: absolute;
        font-weight: 900;
        top: 0;
    }
    .quantity-cart{
        color: black;
        font-size: 11px;
        float: right;
        margin-top: -5px;
        margin-left: 2px;
    }
    .quantity-cart-home{
        color: white;
        font-size: 10px;
        float: right;
        margin-top: -5px;
        margin-left: 2px;
        font-weight: 100;
    }
    /* .footer{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: red;
        height: 10rem;
    } */
    /* .is-mobile-menu{
        padding: 1.5rem 0rem;
    } */
    .mobile-menu{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background: #fff;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        border-top: 1px solid silver;
    }
    .menu-item{
        text-align: center;
        padding:  0.5rem 0 1rem 0;
    }
    .activeMenu{
        background: #dfdfdf;
      }
    .mobile-menu .menu-item a{
        text-decoration: none;
        color: rgb(67, 70, 87);
        font-weight: bold;
    }
    .update-build-item a{
        text-decoration: none;
        color: rgb(67, 70, 87);
        font-weight: 900;
        font-size: 17px;
        margin-left: 1rem;
        background-color: #f6f6f6;
    }
    .build-item-name{
        padding: 1rem 0;
    }
    .build-item-content{
        float: left;
    }
    .build-item-name h4{ 
        float: left;
        /* width: 80%; */
        color: #1435C3;
        font-weight: 500;
    }
    .update-build-item{
        float: right;
      
    }
    .title-categories{
        text-align: center;
        padding: 1rem 0 0.3rem 0;
        border-bottom: 1px solid silver;
        margin-top: 4rem;
        background-color: white;
    }
    #icon-delete-cart{
        float: right;
        text-decoration: none;
        color: #000000;
        margin-top: -1.4rem;
        margin-right: 1rem;
        font-size: 22px;
        font-weight: 500;
    }
    #icon-reload{
        float: right;
        text-decoration: none;
        color: #000000;
        margin-top: -1.4rem;
        margin-right: 1rem;
        font-size: 22px;
        font-weight: 500;
    }
    .list-cart {
        width: 95%;
        padding-left: 2.5%;
        padding-right: 2.5%;
        padding-bottom: 10rem;
        display: grid;
        background: white;
    }
    }
    .list-build{
        width: 100%;
    }
    .cart-item{
        width: 100%;
        height: 7rem;
        border-bottom: 1px solid silver;
        padding-top: 0.7rem;
    }
    .build-item-select{
        width: 100%;
        height: 5.5rem;
        border-bottom: 1px solid silver;
        padding-top: 0.7rem;
    }
    .build-item{
        width: 100%;
    }
   .cart-item-image{
    width: 100%;
    float: left;
    border: 1px solid silver;
   }
   .cart-left{
    float: left;
    width: 25%;
   }
   .cart-right{
    float: left;
    width: 75%;
   }
   .cart-item-name{
        padding-left: 5%;
        width: 95%;
        height: 2rem;
        display: block;
        display: -webkit-box;
        line-height: 1.3;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        color: rgb(67, 70, 87);
        text-align: justify;
        font-size: 12px;
   }
   .cart-item-brand{
    padding-left: 5%;
    width: 95%;
    font-weight: 900;
    color: #757373;
    font-size: 13px;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
   }
   .cart-item-inventory{
    padding-left: 5%;
    color: rgb(247, 130, 18);
    font-size: 10px;
    width: 95%;
   }
   .inventory-detail{
        color: rgb(247, 130, 18);
        font-size: 12px;
        padding-top: 0.2rem;
        width: 100%;
   }
   .box-price{
    height: 2rem;
   }
    .box-price-cart {
        width: 95%;
        margin-left: 5%;
        padding-top: 6px;
    }
    .cart-item-price {
        color: #eb0000;
        font-weight: 500;
        font-size: 14px;
        float: left;
        /* padding-top: 0.1rem; */
        width: 30%;
    }
   .build-item-price-select{
    color: #eb0000;
    font-weight: 500;
    font-size: 13px;
    float: left;
    padding-top: 0.1rem;
    width: 40%;
   }
    .cart-item-price-main {
        text-decoration: line-through;
        color: rgb(130, 134, 158);
        font-size: 10px;
        float: left;
        margin-top: 0.4rem;
        width: 30%;
    }
   .order{
        position: fixed;
        bottom: 3.5rem;
        right: 0;
        width: 100%;
        background: #1435C3;
        color: #fff;
        font-weight: 900;
        text-align: center;
        padding: 1rem 0 ;
        border-radius: 3px;
   }
   .payment{
        position: fixed;
        bottom: 0;
        right: 0;
        width: 100%;
        background: white;
        font-weight: 900;
        text-align: center;
   }
    .payment span {
        font-size: 21px;
        font-weight: 900;
        color: rgb(184, 15, 15);
        width: 50%;
        float: left;
        padding: 1rem 0;
        border-top: 1px solid silver;
    }
    .payment button {
        font-size: 21px;
        font-weight: 900;
        width: 50%;
        float: right;
        padding: 1.15rem 0;
        background: #1435C3;
        color: #fff;
        border: none;
    }
    .detail-add-cart {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background: #1435C3;
        color: #fff;
        font-weight: 900;
        text-align: center;
        padding: 0.8rem 0;
    }

.btn-update-user {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #1435C3;
    color: #fff;
    font-weight: 900;
    text-align: center;
    padding: 0.8rem 0;
    font-family: system-ui;
}
   .total-payment{
    position: fixed;
    bottom: 6.5rem;
    right: 0;
    width: 100%;
    color: #eb0000;
    font-weight: 900;
    text-align: center;
    border-radius: 5px;
    font-size: 21px;
    background: #f8f8fc;
    padding: 0.5rem 0;
   }
   .header-login{
    height: 148px;
    background: #1435C3;
    position: relative;
   }
   .login-content{
    width: 90%;
    padding: 10% 5%;
   }
   .login-item{
    padding: 10px 5% 28px 5%;
     background-color: rgb(45, 136, 255);
     color: white;
     border-radius: 5px;
     text-align: center;
   }
   .login-item-google{
    margin-top: 1rem;
    padding: 10px 5% 28px 5%;
    background-color: rgb(220, 78, 66);
    color: white;
    border-radius: 5px;
    text-align: center;
  }
    .login-item-google a{
        color: white;
    }
    .user-img-left {
        position: absolute;
        left: 0;
        top: 0;
    }
   .user-img-left img{
    width: 112px;
    height: 113px;
   }
   .user-img-right img{
    width: 103px;
    height: 85px;
   }
   .user-img-right{
    position: absolute;
    right: 0;
    bottom: -4px;
   }
   .content{
    width: 100%;
   }
   .content a{
    color: black;
   }
   .order-manage{
    padding: 17px 5% 32px 5%;
    border-bottom: 1px solid silver;
    font-size: 15px;
   }
   .user-icon-left{
    float: left;
    width: 8%;
   }
   .user-text-center{
    float: left;
    width: 87%;
   }
   .user-icon-right{
    float: left;
    width: 5%;
   }
   .btn-login{
    width: 100%;
   }
   .btn-login a{
    position: absolute;
    font-size: 14px;
    text-decoration: none;
    background: white;
    border-radius: 5px;
    font-weight: 600;
    color: #1435C3;
    width: 90%;
    text-align: center;
    padding: 10px 0;
    margin: 80px 5%;
   }
    .box-input-quantity {
        width: 40%;
        float: left;
        background-color: #f6f6f6;
    }
   .btn-minus{
    padding: 0.15rem 0rem;
    float: left;
    width: 37%;
    text-decoration: none;
    background: #f3f3f3;
    text-align: center;
    color: black;
   }
   .btn-minus i{
    font-size: 12px;
   }
   .btn-add-build{
        float: right;
        padding: 0 2.5rem;
        /* float: left; */
        width: 28.5%;
        background: #f3f3f3;
        text-align: center;
        padding: 0px -0.5%;
   }
   .btn-add-build-select {
    padding: 0.15rem 0;
    float: left;
    width: 30%;
    text-decoration: none;
    background: #f3f3f3;
    text-align: center;
    color: black;
    float: left;
}
   .btn-add-build i{
    font-size: 15px;
   }
   .input-quantity{
        width: 30%;
        text-align: center;
        padding: 0.3rem 0;
        margin: 0 -0.2rem;
        font-size: 12px;
        float: left;
        border: none;
        background: #f3f3f3;
   }
    .title-cart{
        text-align: center;
        padding: 1rem 0 1rem 0;
        color: #333333;
        /*position: fixed;*/
        width: 100%;
        background-color: #f6f6f6;
    }
    .title-build{
        text-align: center;
        padding: 1rem 0 0.3rem 0;
    }
    .title-detail{
        height: 1.2rem;
        text-align: center;
        padding: 1rem 0 0.3rem 0;
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        background-color: white;
        z-index: 1;
    }
    .product-detail{
        width: 100%;
        background: white;
    }
.list-img {
    margin-top: 4.2rem;
    display: flex;
    overflow-x: auto;
    margin-left: auto;
    margin-right: auto;
    scroll-snap-type: x mandatory;
    width: 60%;
}
.list-img img {
    width: 100%;
    display: block;
    margin: 0 auto;
    scroll-snap-align: start;
    aspect-ratio: 3/2;
    height: 15rem;
    border-radius: 10px;
    }
    .list-img::-webkit-scrollbar {
        display: none;
    }
    .infor{
        padding: 0 2.5% 0.5rem 2.5%;
        width: 95%;
        background-color: white;
    }
    .name-detail{
        color: rgb(51, 51, 51);
        font-weight: 500;
        width: 100%;
        height: 2.3rem;
        display: block;
        display: -webkit-box;
        font-size: 15px;
        line-height: 1.2;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left;
    }
    .box-price-detail{
        display: flex;
        padding: 0.5rem 0;
    }
    .price-detail{
        color: rgb(195, 20, 20);
        font-weight: 700;
        font-size: 17px;
    }
    .main-price-detail{
        text-decoration: line-through;
        color: rgb(130, 134, 158);
        font-size: 13px;
        margin-left: 1rem;
        margin-top: 0.2rem;
    }
    .config{
        margin: 0.5rem 0rem;
        opacity: 1;
        font-size: 13px;
        font-weight: 400;
    }
    .brand-detail{
        color: #82869e;
        font-size: 14px;
        padding: 0.2rem 0;
        font-weight: 500;
    }
    .title-cart h5{
        padding-right: 2.8rem;
    }
    
    .build-total-payment{
        padding: 1rem 0 2rem 0;
        border-bottom: 1px solid silver;
        background: white;
    }
    .build-total-payment p{
        margin-right: 2.5%;
        float: right;
        margin-top: -0.3rem;
    }
    .build-total-payment span{
        font-size: 17px;
        font-weight: 900;
        color: rgb(184, 15, 15);
    }
    
    .mobile-menu ul{
        list-style: none;
    }
    .active{
        color:#eb0000;
      }
      
    .menu-item span{
        font-size: 15px;
    }
    .menu-item p {
        margin-top: 3px;
        font-size: 10px;
    }
    .box-product{
        background-image: url("../images/home-product.png");
        /* background-image: linear-gradient(#5271d2, rgb(215 215 215)); */
    height: 20rem;
}
    .best-sell{
        height: 18.5rem;
        background: white;
        padding-bottom: 1rem;
        padding: 0 1%;
    }
    .out-detail-buy{
        border-radius: 5px
    }
    .out-brands-hot{
        margin-top: 0.5rem;
        background-color: white;
        padding-bottom: 0.5rem;
        border-radius: 5px;
    }
    .usally-sell{
        height: 19.5rem;
        background: white;
        margin-top: 0.5rem;
        padding: 0 1%;
        border-radius: 5px
    }
    .for-you-box{
        background-color: white;
        margin-top: 0.5rem;
        border-radius: 5px;
    }
    .for-you a{
        text-decoration: none;
    }
    .title-sell{
        color: black;
        float: left;
    }
    .home-title{
        color: black;
        float: left;
    }
    .title-usally-sell{
        color: rgb(130, 134, 158);
        float: left;
        /* margin-top: 1.5rem; */
    }
    .title-for-you{
        color: black;
        padding-bottom: 0.5rem;
    }
    .sales-policy{
        color: rgb(130, 134, 158);
        float: left;
        margin-top: 0.5rem;
        width: 95%;
        padding: 0 2.5%;
        background-color: white;
        border-radius: 5px
    }
    .sales-policy h5{
        padding-top: 0.5rem;
    }
    .detail-product-detail{
        color: rgb(130, 134, 158);
        float: left;
        margin-top: 1.1rem;
        width: 100%;
    }
    .detail-description{
        width: 100%;
    }
    .sales-policy-item{
        color: #333333;
        margin-top: 0.5rem;
        font-size: 14px;
    }
    .sales-policy-item i{
        color: red;
        font-weight: bold;
        float: left;
    }
    .sales-policy-item p{
       font-size: 14px;
       padding-bottom: 0.5rem;
       text-align: justify;
    }
    .sales-policy-item img{
        width: 100%;
    }
    .box-product-content{
        display: flex;
        overflow: auto;
        /* width: 25rem; */
        margin: 0 1%;
        padding: 1rem 0;
    }
    .box-detail-content::-webkit-scrollbar { 
        width: 0 !important;
        display: none; 
      }
    .box-detail-content{
        display: flex;
        overflow: auto;
    }
    .box-product-content::-webkit-scrollbar { 
        width: 0 !important;
        display: none; 
      }
    .usally-product-content{
        display: flex;
        overflow: auto;
    }
.for-you {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.2rem;
    justify-content: center;
    margin-bottom: 4rem;
    background: white;
    padding: 1rem 0;
}
    .hiddenProduct{
        display: none;
    }
    .box-product-name{
        height: 1.3rem;
        padding: 0.5rem 1% 0 1%;
    }
    .sales-name{
        height: 2rem;
        padding-left: 0.4rem;
        padding-top: 0.5rem;
        border-bottom: 1px solid white;
    }
    .sales-name h3{
        color: white;
        float: left;
    }
    .box-brand-hot{
        display: flex;
        overflow: auto;
        margin: 0 1%;
    }
    .brand-hot{
        width: 100%;
        border-radius: 10px;
        margin-right: 0.5rem;
    }
    .brand-hot img{
        aspect-ratio: 3/2;
        height: 8rem;
        border-radius: 10px;
        border: 1px solid silver;
        width: 197px;
    }
    .box-brand-hot::-webkit-scrollbar { 
        width: 0 !important;
        display: none; 
      }
    .box-product-name h3{
        color: white;
        float: left;
        margin: 0 1%;
        margin-top: 0.5rem;
    }
    .box-product-name a{
        color: rgb(22 22 22);
        text-decoration: none;
        font-size: 14px;
        padding: 0.1rem 0.5rem;
        float: right;
        font-weight: 400;
    }
    .view-all{
        margin-top: 0.3rem;
        color: white;
        text-decoration: none;
        font-size: 14px;
        float: right;
        font-weight: 400;
        margin-right: 0.4rem;
    }
    .img-banner{
        width:90%; 
        border-radius: 5px;
        height: 130px;
    }
    .for-you-item{
        background: white;
        padding: 10px;
        border-radius: 5px;
        -webkit-box-pack: justify;
        justify-content: space-between;
        /* margin-right: 5px; */
        border: 1px solid rgb(228, 229, 240);
        position: relative;
        float: left;
        width: 43%;
    }
    .for-you-item img{
        width: 75%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .product-item{
        background: white;
        padding: 10px;
        border-radius: 5px;
        flex-direction: column;
        -webkit-box-pack: justify;
        justify-content: space-between;
        margin-right: 5px;
        border: 1px solid rgb(228, 229, 240);
        position:relative;
    }
    .product-base{
        height: 15.5rem;
        background: white;
        padding: 10px;
        border-radius: 5px;
        flex-direction: column;
        -webkit-box-pack: justify;
        justify-content: space-between;
        margin-right: 5px;
        border: 1px solid rgb(228, 229, 240);
        position:relative;
        width: 40%;
    }
    .btn-add-cart{
        width: 90%;
        height: 1.9rem;
        text-align: center;
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(20, 53, 195);
        border-radius: 5px;
        justify-content: center;
    
        position:absolute;
        top: 15.2rem; bottom: 0; left: 0; right: 0;
        margin: auto;
    }
    .btn-add-cart-flex{
        padding: 0.5rem 0;
        text-align: center;
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(20, 53, 195);
        border-radius: 5px;
        text-decoration: none;
        color: rgb(20, 53, 195);
        font-size: 12px;
        font-weight: 900;
        display: block;
    }
    .btn-add-cart a{
        text-decoration: none;
        color: rgb(20, 53, 195);
        font-size: 12px;
    }
    .text-add-cart{
        padding: 0.54rem;
        font-weight: 900;
    }
    .product-item img{
        width: 75%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .product-base img{
        width: 75%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .product-item-brand{
        font-weight: bold;
        color: rgb(130, 134, 158);
        padding: 0.5rem 0;
        font-size: 14px;
    }
    .product-item-name{
        width: 10rem;
        height: 2rem;
        display: block;
        display: -webkit-box;
        font-size: 12.5px;
        line-height: 1.3;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        color: rgb(67, 70, 87);
        text-align: left;
    }
    .final-product{
        margin-bottom: 5rem;
    }
    .for-you-name{
        width: 100%;
        height: 3rem;
        display: block;
        display: -webkit-box;
        font-size: 13px;
        line-height: 1.3;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        color: rgb(67, 70, 87);
        text-align: left;
    }
    .for-you-price{
        width: 100%;
        height: 2.8rem;
    }
    .product-item-price{
        color: rgb(195, 20, 20);
        font-weight: 700;
        font-size: 15px;
        float: left;
        padding-top: 0.5rem;
    }
    .for-you-item-price{
        color: rgb(195, 20, 20);
        font-weight: 700;
        font-size: 15px;
        float: left;
        padding-top: 0.5rem;
        width: 62%;
    }
    .for-you-item-price-main{
        text-decoration: line-through;
        color: rgb(130, 134, 158);
        font-size: 11px;
        float: right;
        margin-top: 3px;
        padding: 0;
        padding-top: 0.5rem;
        width: 38%;
    }
    .product-item-price-main{
        text-decoration: line-through;
        color: rgb(130, 134, 158);
        font-size: 11px;
        float: right;
        margin-top: 3px;
        padding: 0;
        padding-top: 0.5rem;
    }
.grid-view{
    padding-bottom: 1rem;
}
.grid-view ul{
    display: -webkit-box;
    overflow: auto;
}
.grid-view ul::-webkit-scrollbar { 
    width: 0 !important;
    display: none; 
  }
.grid-view ul li{
    list-style-type: none;
    padding-bottom: 1rem;
}
.grid-view ul li a{
    float: left;
}
.filter-category{
    width: 20%;
    font-size: 13px;
    z-index: 100;
    position: absolute;
    right: 0;
}
.filter-category p{
    margin-left: 15%;
    
}
.filter-category a{
    color:rgb(67, 70, 87)
}

/*range filter*/
#myRange{
    width: 100%;
}
.filter-price{
    height: 0.8rem;
    padding: 1rem 0 0 0;
    border-bottom: 1px solid silver;
    margin-bottom: 1.5rem;
}
.filter-min-price{
    padding: 0.25rem 1.5rem;
    border: 1px solid rgb(228, 229, 240);
    border-radius: 0.25rem;
    font-size: 12px;
    float: left;
    background: white;
}
.filter-max-price{
    padding: 0.25rem 1.5rem;
    border: 1px solid rgb(228, 229, 240);
    border-radius: 0.25rem;
    font-size: 12px;
    float: right;
    background: white;
}
.filter-brand button{
    width: 46%;
    background: silver;
    float: left;
    padding: 0.25rem 1.5rem;
    border: 1px solid rgb(228, 229, 240);
    border-radius: 0.25rem;
    font-size: 12px;
    float: right;
    background: white;
    margin: 1%;
}
.filter-brand{
    margin-left: -4%;
}
.filter-by-price h4{
    color: rgb(51, 51, 51);
    font-weight: 500;
    font-size: 14px;
}
.filter-by-brand h4{
    color: rgb(51, 51, 51);
    font-weight: 500;
    font-size: 14px;
}
.apply-filter{
    margin-top: 1rem;
    float: right;
    margin-bottom: 0.2rem;
}
.btn-apply{
    color: rgb(255, 255, 255);
    background: rgb(20, 53, 195);
    padding: 0.3rem 1.2rem;
    border-radius: 5px;
    border: 1px solid rgb(20, 53, 195);
    font-weight: 500;
    font-size: 12px;
}
.btn-delete-filter{
    background-color: rgb(255, 255, 255);
    color: rgb(20, 53, 195);
    padding: 0.3rem 1.2rem;
    border-radius: 5px;
    border: 1px solid rgb(20, 53, 195);
    font-weight: 500;
    font-size: 12px;
}
.btn-selected.selected{
    border: 1px solid #4848c3;
}
.filter-modal{
    background: white;
    height: 1.5rem;
}
.infor-order {
    width: 90%;
    padding: 0.5rem 5%;
    background: white;
    margin-bottom: 0.5rem;
    font-size: 13px;
    color: rgb(130, 134, 158);
    padding-top: 20px;
}
.infor-order h4{
    color: rgb(130, 134, 158);
    padding-bottom: 10px;
    font-size: 13px;
}
.infor-order-div {
    font-size: 13px;
    color: rgb(130, 134, 158);
    width: 95%;
    float: left;
}
.box-infor {
    width: 100%;
    background: white;
    height: 6rem;
}
.box-infor p{
    padding: 5px 0;
}
.box-infor-payment {
    width: 100%;
    background: white;
}
.edit-infor {
    padding-top: 2rem;
}
.build-total-payment h5 {
    float: left;
    padding-left: 2.5%;
    color: rgb(130, 134, 158);
}
.method-payment {
    width: 90%;
    padding: 0.5rem 5%;
    background: white;
    margin-bottom: 0.5rem;
    height: 2.5rem;
    font-size: 13px;
    color: rgb(130, 134, 158);
}
.method-payment a{
    font-size: 13px;
    color: rgb(130, 134, 158);
}
.infor-order a{
    font-size: 13px;
    color: rgb(130, 134, 158);
}
.method-payment h4 {
    color: rgb(130, 134, 158);
    padding-bottom: 10px;
    font-size: 13px;
}
.update-user {
    width: 90%;
    padding: 1rem 5%;
    background: white;
}
.update-user img{
    display: block;
    margin: auto;
    border-radius: 50%;
    margin-bottom: 2rem;
}
.form-infor {
    font-size: 14px;
    margin-bottom: 1rem;
}
.form-infor p{
    padding: 0.3rem 0;
    color: #333333;
    font-weight: 500;
}
.form-infor input{
    width: 95%;
    border-radius: 4px;
    padding: 0 2%;
    height: 2rem;
    border: 1px solid silver;
}
.box-item-orders {
    width: 95%;
    padding: 0 2.5%;
    font-size: 14px;
    background: white;
    color: #333333;
}
.item-orders-title {
    background: white;
    padding: 0.5rem 0;
    height: 1rem;
}
.item-orders-title h5{
    float: left;

}
.item-orders-title p {
    float: right;
    color: #259341;
    font-weight: 600;
}
.item-order-content p {
    padding: 3px 0;
    font-size: 13px;
}
.avatar-user {
    padding: 3rem 5%;
}
.avatar-user img{
    border-radius: 50%;
    width: 20%;
    float: left;
}
.avatar-user p{
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding-top: 3rem;
    margin-left: 5rem;
}
.list-order {
    padding-bottom: 5rem;
    background: white;
}



/*menu category*/
ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}
  a { text-decoration:none;}
  .simple-menu {
    margin: auto;
    width: 100%;
    position: absolute;
    float: left;
    z-index: 0;
  }
  ul.simple-menu-list {
      color:#000;
      clear:both;
      display:table;
      width:100%;
      -moz-box-sizing:border-box;
      box-sizing:border-box;
  }
  ul.simple-menu-list > li {
      float:left;
      position:relative;
    font-size:12px;
    width: 100%;
    padding-bottom: 0.5rem;
  }
  ul.simple-menu-list > li a {
    color:black;
    padding-left: 5%;
    font-weight: 400;
  }
  .simple-menu-container {
      padding:20px;
  }
  .sub-menu {
      display:none;
      position:absolute;
      z-index:999;
      width: 100%;
      color:#fff;
      background-color: white;
      margin-top: 10px;
  }
  .sub-menu span{
    float: right;
  }
  ul.simple-menu-list .sub-menu li{
    color:#fff;
    padding:0;
  }
  ul.simple-menu-list .sub-menu li a{
    color:black;
    padding:16px 5%;
    display:block;
    border-bottom: 1px solid #f7f7f7;
  }
    ul.simple-menu-list .sub-menu li button {
        color: black;
        padding: 16px 5%;
        display: block;
        border-bottom: 1px solid #f7f7f7;
        width: 100%;
        text-align: left;
        background: white;
        border: none;
        font-size: 13px;
    }
.header-position-fixed{
    position: fixed;
    margin-top: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 999;
    background-color: white;
}
  
  /* The dots/bullets/indicators */
  .dot {
    height: 0.5rem;
    width: 0.5rem;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .tab{
    display: none;
   }
  .active1 {
    display: flex;
    border-radius: 0.2rem;
    margin-top: 2rem;
    padding-bottom: 1rem;
  }
  .active2 {
    display: flex;
    border-radius: 0.2rem;
    background: #ededed;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
} 

/* Laptop - For 1366 Resolution */  
@media only screen   
and (min-width: 1030px)   
and (max-width: 1366px)  
{
    
}  

/* Tablet - Orientation : Portrait */  
@media only screen   
and (orientation : portrait)   
and (-webkit-min-device-pixel-ratio: 1)   
and (min-device-width : 768px)   
and (max-device-width : 1007px)  
{ 
    
}  
/* Tablet Orientation : Landscape */  
@media only screen   
and (orientation : landscape)   
and (-webkit-min-device-pixel-ratio: 1)  
and (min-device-width : 768px)   
and (max-device-width : 1007px)   
{ 

}  

@media only screen   
and (min-width: 1370px)  
and (max-width: 1605px)  
{ 

}  
  
   
  
   

   
 
   
 